<header class="motogp-header">
  <!-- Top bar -->
  <div class="top-nav">
    <div class="left-links">
      <a href="#">Tickets</a>
      <a href="#">Hospitality</a>
      <a href="#">Experiences</a>
      <a [routerLink]="['/store']" routerLinkActive="router-link-active" >Store</a>
      <a href="#">Authentics</a>
    </div>
    <div class="right-links">
      <img src="/public/image/logotop1.svg" alt="TimingPass" class="mini-logo">
      <img src="/public/image/logotop2.svg" alt="VideoPass" class="mini-logo">
      <button class="subscribe-btn">SUBSCRIBE</button>

      <img src="/public/image/fim.jpg" alt="FIM" class="fim-logo">
    </div>
  </div>

  <!-- Main nav -->
  <div class="main-nav">
    <a href="index.html" class="logo">
      <img src="/public/image/logo.svg" alt="MotoGP Logo">
    </a>
    <nav class="nav-links">
      <a href="#">Calendar</a>
      <a href="#">Results & Standings</a>
      <a href="1-rider&team.html">Riders & Teams</a>
      <a href="#">VideoPass</a>
      <a href="#">Videos</a>
      <a href="1-news.html">News</a>
    </nav>
    <div class="user-actions">

      <img src="/public/image/nonbaohiem.jpg" alt="" width="35px" height="3
      5px">
    </div>
  </div>
</header>
