<footer class="footer">
     <hr>
  <div class="footer-top">
    <img src="/public/image/logo2.svg" alt="MotoGP Logo" class="motogp-logo">
  </div>
<hr>
  <p class="sponsor-title">Official Sponsors</p>
  <div class="sponsor-logos">
    <img src="/public/image/ft1.webp" alt="Qatar Airways">
    <img src="/public/image/ft2.webp" alt="Tissot">
    <img src="/public/image/ft3.webp" alt="Michelin">
    <img src="/public/image/ft4.webp" alt="BMW M">
    <img src="/public/image/ft5.webp" alt="Estrella Galicia">
    <img src="/public/image/ft6.webp" alt="DHL">
  </div>
<hr>
  <div class="footer-links">
    <div>
      <h4>Media & Commercial</h4>
      <ul>
        <li>Official Sponsors</li>
        <li>TV Broadcast</li>
        <li>What is TimingPass™</li>
        <li>MotoGP™ Apps</li>
      </ul>
    </div>
    <div>
      <h4>Help</h4>
      <ul>
        <li>Contact us</li>
        <li>FAQ</li>
        <li>Glossary</li>
        <li>About MotoGP™</li>
        <li>Join MotoGP™</li>
      </ul>
    </div>
    <div>
      <h4>Tickets & Hospitality</h4>
      <ul>
        <li>Tickets</li>
        <li>Hospitality</li>
        <li>Experiences</li>
      </ul>
    </div>
    <div>
      <h4>Game Hub</h4>
      <ul>
        <li>MotoGP™ Fantasy</li>
        <li>MotoGP™ Predictor</li>
        <li>MotoGP™ eSport</li>
        <li>MotoGP™ Guru</li>
        <li>MotoGP™25</li>
      </ul>
    </div>
    <div>
      <h4>About Us</h4>
      <ul>
        <li>Dorna Sports</li>
        <li>Cookie Policy</li>
        <li>Legal Notice</li>
        <li>Privacy Policy</li>
        <li>Purchase Policy</li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="download-app">
      <div class="app-links">
        <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Google Play">
      </div>
    </div>

    <div class="social-icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-x-twitter"></i>
      <i class="fab fa-tiktok"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-spotify"></i>
      <i class="fab fa-whatsapp"></i>
      <i class="fab fa-telegram"></i>
    </div>
  </div>

  <p class="copyright">
    © 2025 Dorna Sports S.L. All rights reserved. All trademarks are the property of their respective owners.
  </p>
</footer>
